.fire-emoji {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;

    span {
        font-size: 80px;
        animation: fire 1500ms alternate infinite;
    }

    @keyframes fire {
        0% {
            filter: contrast(120%);
        }

        10% {
            filter: contrast(130%);
        }

        20% {
            filter: contrast(240%);
            text-shadow: 0 -3px 15px rgba(255, 193, 39, 0.4),
                0 4px 20px rgba(153, 153, 153, 0.2);
        }

        30% {
            filter: contrast(220%);
        }

        40% {
            filter: contrast(250%);
        }

        50% {
            filter: contrast(310%);
            text-shadow: 0 -2px 15px rgba(255, 193, 39, 0.4),
                0 7px 9px rgba(153, 153, 153, 0.2);
        }

        60% {
            filter: contrast(150%);
        }

        70% {
            filter: contrast(220%);
        }

        80% {
            filter: contrast(360%);
            text-shadow: 0 -5px 20px rgba(255, 193, 39, 0.4),
                0 7px 27px rgba(153, 153, 153, 0.2);
        }

        90% {
            filter: contrast(250%);
        }

        100% {
            filter: contrast(180%);
        }
    }
}